
.App {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  height: 100vh;
  flex-direction: column; /*!!!*/
  width: 100%;
}

.main-card {
  width: 200px; /* Пример уменьшения размера карточки */
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}


h3, h2 {
  background: linear-gradient(45deg, #ff6600, #ff00ff); /* Пример использования градиента */
  -webkit-background-clip: text;
  color: transparent;
}

h4 {
  background: linear-gradient(45deg, #ff00ff, #ff6600); /* Пример использования градиента */
  -webkit-background-clip: text;
  color: transparent;
}


.main-photo {
  width: 80px; /* Пример уменьшения ширины изображения */
  height: auto;
  border-radius: 50%; /* Пример скругления краев для круглой картинки */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Пример добавления тени */
}

.main-content {
  text-align: center;
}

.main-card:hover {
  transform: rotate(10deg)  scale(0.9);
}


.comp-card {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.des-card {
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 10px;
  width: 200px;
  height: 100px;
  display: flex; /* Используем flexbox */
  justify-content: center; /* Выравниваем по горизонтали по центру */
  align-items: center; /* Выравниваем по вертикали по центру */
}

h3 {
  padding: 0;
  margin: 0;
}